body,
html {
	margin: 0;
	padding: 0;
	font-size: 10px;
	background-color: beige;
	margin-left: 2%;
}

.up {
	align: center;
	width: 100%;
}

h1 {
	font-size: 50px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.4em;
	text-align: center;
	color: #2a99a3;
}

p {
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
}

.flexcontenedor {
	display: flex;
	flex-wrap: wrap;
}

.izq {
	width: 26%;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	justify-content: flex-start;
	margin-top: 40px;
	margin-right: 1%;
	font-size: 15px;
	align-content: flex-start;
	padding: 0%;
	order: 1;
}

.link2 {
	background-color: #f1f4d9;
}

.link2 {
	font-size: 15px;
	font-weight: bold
}

.imagen {
	width: 200px;
	height: 200px;
	border-radius: 50px;
	border: 3px solid #2a99a3;
}

ul {
	list-style: none;
	margin-left: 0px;
	padding-left: 5px;
}

.formacion {
	width: 66%;
	margin-left: 0.5px;
	order: 2;

}

.cajita {
	background-color: #f1f4d9;
}

.formacion ul {
	list-style: none;
}


.lugar {
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	color: red;
}

.detalle {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: green;
	margin-bottom: 20px;
}

.trabajo ul {
	list-style: none;
}


.imagesm {
	width: 100%;
	align: right;
	padding: 0%;

}

.images {
	width: 150px;
	height: 150px;
	order: 3;

}